* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

html {


  // font-size: 16px (desktop)
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
  // REM = 1rem = 16px

  --backgroundDefault: #F5F5F5;

  body {
    margin: 30px;
    background: var(--backgroundDefault);
  }
}