.container{
  background-color: var(--backgroundDefault);
  max-height: 100vh;
  height: 90vh;
  background-image: url("../../assets/blank.png");
  background-repeat: no-repeat;
  background-size: 410px ;
  background-position: right bottom;
}

.title{
  font-family: "AvenirNext-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #212529;
}
.kanbanContainer {
  cursor: pointer;

  .react-kanban-board {
    padding: 0px;
    margin-top: 10px;
  }

  .react-kanban-column:nth-child(1), .react-kanban-column:nth-child(3) {
    margin: 0;
  }


  .react-kanban-column {
    margin: 0 10px;
  }

  .react-kanban-card__title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: "AvenirNext";
    line-height: 25px;
    letter-spacing: -0.02em;
    // color: #FFFFFF;
  }
  .react-kanban-card{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .react-kanban-card-adder-button
  {
    border: none;
    position: relative;
    display: flex;
    align-items: baseline;
    color: #ffff;
  }

  .react-kanban-card-adder-button:hover {
    background: transparent !important;
  }

  .react-kanban-card-adder-button::after
  {
    content: "Adicionar outro cartão";
    margin-left: 10px;
    font-family: "AvenirNext";
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
  }


  .react-kanban-column-header {
    font-family: "AvenirNext-Bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #ffffff;
  }

  .react-kanban-card__description{
    width: min-content;
    padding: 5px 10px;
    height: 24px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-family: 'Roboto';
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;

  }

  // .react-kanban-column{
  //   width: 315px;
  // }

  .react-kanban-column:nth-child(1) .react-kanban-card__description {
    background: #5CC4FF;
  }

  .react-kanban-column:nth-child(2) .react-kanban-card__description {
    background: #945AD1;
  }
  .react-kanban-column:nth-child(3) .react-kanban-card__description {
    background: #59D090;
  }
  .react-kanban-column:nth-child(1){
    background: #5CC4FF;
  }
  .react-kanban-column:nth-child(2){
    background: #945AD1;
  }
  .react-kanban-column:nth-child(3){
    background: #59D090;
  }
}